GMAIL_OAUTH_TOKEN=
OPENROUTER_API_KEY=
OPENROUTER_MODEL=mistralai/mistral-7b-instruct
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_BOT_USERNAME=
CHECK_TIME=08:00
REMINDER_DAYS_BEFORE=7
MAX_REMINDER_TODAY=1
